.left{ :style => 'width: 50%' }
  = image_tag 'farmer.png'
.left
  - unless user_signed_in?
    .links
      = link_to(new_user_registration_path, :class => 'button') do
        = image_tag 'new_account.png'
      %br
      = link_to(new_user_session_path, :class => 'button') do
        = image_tag 'login.png'
  - else
    %strong Twoje pola
    - if current_user.fields.empty?
      %p Nie masz żadnego pola. #{link_to 'Utwórz pole', new_field_path}
    - else
      %ul
        - current_user.fields.all.each do |field|
          %li
            = link_to field.name, [field.village, field]
            %small.village #{field.village.name if field.village.present? }
            (#{rand(100)} roślin)
      = link_to 'Dodaj pole', new_field_path
    %p
      %strong Twój budżet
      = current_user.budget
      %br
      %strong Liczba punktów
      120.0

    %strong Lista roślin
    %ul
      - 8.times do
        %li
          = Forgery(:lorem_ipsum).words(3, :random => true)
          %small x #{rand(10)}
